ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

main{
    background-color: orange;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main{
    display: flex;
    flex-direction: column-reverse;
}

.main li{
    border: 1px solid red;
}

.main li:first-child{
    background-color: gray;
    flex: 4;
}
.main li:nth-child(2){
    order: 2;
}
.main li:nth-child(4){
    order: 3;
}